<div class="row">
    <div class="col-md-6 offset-3">

        <h1 class="text-info">You Have Reached The End of Internet! (Not Found)</h1>
        <br />
        <a class="btn btn-outline-success" asp-controller="Movies" asp-action="index">Home Page</a>
    </div>

</div>