@model Cinema

@{
    ViewData["Title"] = "Add a new Cinema";
}

<div class="row text">
    <div class="col-md-8 offset-2">
        <p>
            <h1>Add a new Cinema</h1>
        </p>
        <div class="row ">
            <div class="col-md-8 offset-2">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="mb-5 text-center">
                        <img id="ProfilePicture" class="border-info rounded-circle" style="max-width:150px;" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="LogoUrl" class="form-control-plaintext"></label>
                        <input asp-for="LogoUrl" class="form-control" />
                        <span asp-validation-for="LogoUrl" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Name" class="form-control-plaintext"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="About" class="form-control-plaintext"></label>
                        <input asp-for="About" class="form-control" />
                        <span asp-validation-for="About" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <input type="submit" value="Create" class="btn btn-outline-success float-end" />
                        <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script>

        $(document).ready(function(){
            var output = document.getElementById('ProfilePicture');
            output.src = $("#LogoUrl").val();
        })

        $("#LogoUrl").on("change", function () {
            var output = document.getElementById('ProfilePicture');
            output.src = $(this).val();
        })
    </script>
}